#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* --bg-image: url('./utils/imgs/bg-image.jpg') */
  --main-font-color: #282f2c;
}

body {
  background-image: url('https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-size: cover;
  /* opacity: 0.75; */

}


/* Reset default list styles */
.App {
  height: 100vh;
}
.navbar {
  list-style: none;
  margin: 0;
  width:100%;
  background-color: #a84818; /* Background color for the navbar */
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}

.navbar li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px; /* Spacing between list items */
}

.navbar li:last-child {
  margin-right: 0; /* Remove right margin from the last item */
}

.navbar a {
  text-decoration: none;
  color: #EDc7b7; /* Text color for the links */
  font-weight: bold; /* Bold font for links */
  padding: auto;
  border-radius: 4px; /* Rounded corners for the links */
}

.navbar a:hover {
  color:#1a3d26;
  background-color: #edc7b7; /* Background color on hover */
  height: 100%;
  
}

h2 {
  text-align: center;
  color: #9bb4a4
}



.input__field {
  width: 120x; 
  height: 120px; 
  border: 1px 
  solid #999999; 
  padding: 5px;
  resize: none;
}


.main__view {
  text-shadow: 2px 2px 1px rgba(17, 17, 17, 0.8);
  font-size: 1.3rem;
  height: 80%;
  color: #8f8f8f;
}
